.App {
  text-align: center;
}
/* 
.intro-Background{
background: #A10000;
background: linear-gradient(180deg,rgba(161, 0, 0, 1) 7%, rgba(3, 0, 0, 1) 94%);
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fullbackground {
  min-height: 100vh;
}

.notAvailable {
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: bold;
}

.detailsHeader{
  height: '60vh';
  min-height: '400px';
}
.App-logo-spin {
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
