@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.title_header{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
}


.shadow-custom {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .25), 0 3px 7px 5px rgba(0, 0, 0, 0.23) !important;
  }
  
